
website.Rproj
.Rproj.user/5D91FA37/sources/session-46C70E8D/B7992337
.Rproj.user/5D91FA37/sources/prop/42B9CF39
.Rproj.user/5D91FA37/sources/prop/INDEX
.Rproj.user/5D91FA37/sources/session-BADD6113/4AA8760E
.Rproj.user/5D91FA37/sources/session-BADD6113/4AA8760E
.Rproj.user/5D91FA37/sources/session-BADD6113/4AA8760E-contents
.Rproj.user/5D91FA37/sources/session-BADD6113/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
